* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



:root {

    --sideBarHeader: #14213d;

    --texto: #ffffff;

    --background: #212121;

    --botonV: #341243;

    --links: #8634aa;

    --backgroundForm: #000000;

}



/* HEADER */

.header {

    display: flex;

    justify-content: center;

    align-items: center;

    background: var(--sideBarHeader);

    width: 100%;

    height: auto;
    flex: 1;
}


.app {
    display: flex;
    flex-direction: column;
    height: 100vh; /* ocupa toda la pantalla */
}


/* SIDEBAR - Desktop */

.sideBar {

    background-color: var(--sideBarHeader);
    width: 20%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* separa menú arriba y perfil abajo */
    position: fixed;
    /* sidebar fija en la pantalla */
    top: 0;
    left: 0;
    
    
    
}

.main {

    margin-left: 20%;
    /* deja espacio al costado de la sidebar */

    padding: 20px;



}

.lista {



    list-style: none;

    display: flex;

    flex-direction: column;

    height: 100%;

}



li {



    position: relative;

}

.lista li.perfil {

    margin-top: 30em;

}

.material-symbols-outlined {

    color: var(--texto);
    position: absolute;
    top: -4.5px;
    left: 5px;

}

.sub-header {

    text-align:center;

    padding: 10px 0;

}



.sub-header .lista {

    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    
}



.sub-header ul li a {

    color: white;

    text-decoration: none;

    font-size: 16px;

    font-weight: 600;

    transition: color 0.3s;



}

.lista li a {

    color: inherit;
    /* hereda el color del li */

    text-decoration: none;

    font-weight: bold;

}





.nomostrar {

    display: none;

}

a {

    color: var(--texto);

}



.activo {

    opacity: 1;

}

.no {

    opacity: 0.5;

}

.menu {

    display: none;

}



@media (max-width: 576px) {
    .material-symbols-outlined {
        color: var(--texto);
        position: absolute;
        top: -4.5px;
        left: -1em;
    }
    .header{
        flex: 1;
    }
    .menu {
        display: block;
        font-size: 1.5em;
        border: none;
        background-color: transparent;
        color: var(--texto);
        cursor: pointer;
        
    }

    #cerrar {
        display: block;
        font-size: 1.5em;
        border: none;
        background-color: transparent;
        color: #ffffff;
        cursor: pointer;
    }
    .sub-header {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--sideBarHeader);
        padding: 2rem;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
   .sideBar{
    bottom: 0;
   }
    .sub-header.visible {
        opacity: 1;
        visibility: visible;
    }

    .sub-header ul li a {
        color: rgb(255, 251, 251);
    }

}
@media (min-width: 577px) { 
    .label, .material-symbols-outlined{
        font-size: 12px;
    }
    .material-symbols-outlined{
        left: -0.5em;
    }
 }

@media (min-width: 700px) {
    .label, .material-symbols-outlined{
        font-size: 15px;
    }
  }

img {
    max-width: 100%;
    height: auto;
}

p {
    word-wrap: break-word;
}



